html,
body,
app-root {
  display: block;
  height: 100%;
  position: relative;
}

app-vertical-layout1 {
  display: block;
  height: 100%;
}

body {
  margin: 0;
  font-family: $font1;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;

  &__home {
    width: 100%;
    max-width: 25px;
    margin: 0 10px 0 0;
  }

  &__text {
    color: $text-primary;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    text-transform: uppercase !important;

    span {
      color: $text-secondary;
    }
  }
}

h1, h2 {
  width: 100%;
  text-align: center;
  font-family: $font1;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0 15px -10px #000;
  z-index: 9999;
}
