$primary-color: rgb(76, 175, 80);
$secondary-color: rgb(245, 0, 87);
$tertiary-color: rgb(255, 128, 171);
$light-color: rgb(232, 245, 233);
$dark-color: rgb(27, 94, 32);

$text-primary: rgb(137, 136, 53);
$text-secondary: rgb(199, 194, 60);

$bg-transparent-75: rgba(238, 238, 238,0.75);


$font1: Roboto, "Helvetica Neue", sans-serif;
