<div class="container-fluid py-5">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 text-center">
        <img src="assets/img/logo.png" alt="Adrian Valbuena" class="logo">
        <h1 class="logo__text">Adrian <span>Valbuena</span></h1>
      </div>
      <div class="col-12">
        <h2 class="text-center text-uppercase">Login</h2>
      </div>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="button">
      <button type="submit" mat-raised-button color="primary" class="text-light w-100">Login</button>
    </div>
  </form>
</div>
